*~
*.pptx
*.DS_STORE
Exercises/Exercise1/Solution
Exercises/Exercise2/Solution
Exercises/Exercise3/Solution
Exercises/Exercise4/Solution
Exercises/Exercise5/Solution
Exercises/Exercise6/Solution








*.jpg
*.aux
*.log
*.tex
*.nav
*.snm
*.out
*.gz
*.toc
